@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.back_roster {
    background-image: linear-gradient(to bottom, #000428, rgb(14, 80, 119));
}

.position_players {
    width: 100%;
    height: 200px;
    padding: 80px 70px 0px 200px;
    border-bottom: 3px solid rgba(255, 255, 255, 0.58);
    display: flex;
    justify-content: left;
    align-items: center;
}

.position_players-text {
    width: auto;
    height: 80px;
    font-family: "Oswald", serif;
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 2px;
    color:  rgba(255, 255, 255, 0.856);
    display: flex;
    align-items: center;
}

.coach {
    width: 480px;
    height: 635px;
}

.coach_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
}

.container_playes,
.header_coach {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 0px;
}

.position_players-new {
    width: 100%;
    height: 100px;
    border-top: 2px solid rgba(255, 255, 255, 0.58);
    border-bottom: 2px solid rgba(255, 255, 255, 0.58);
    padding: 0px 0px 0px 200px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.players_st,
.players_mid, 
.players_def,
.players_glkpr {
    width: 92%;
    height: auto;
    display: flex;
    border-radius: 20px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.card {
    background-image: url(https://www.themed.co.uk/cdn/shop/files/tots-base.png?v=1698441311);
    width: 375px;
    height: 585px;
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 93px 37px 80px 50px;
    color: #FFF;
    font-family: "Oswald", serif;
}

.tittle {
    width: 300px;
    height: 240px;
    display: flex;
    align-items: center;
}

.title_date {
    width: 78px;
    height: 230px;
    margin: 5px 0px 0px 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rating {
    width: auto;
    height: 55px;
    font-size: 55px;
    text-align: center;
    margin: 0px 0px 19px 0px;
    display: flex;
    align-items: center;
}

.position {
    width: auto;
    height: 35px;
    font-size: 35px;
    text-align: center;
    margin-bottom: 18px;
    display: flex;
    align-items: center;
}

.country {
    width: 60px;
    height: 40px;
    margin-bottom: 17px;
}

.club {
    width: 40px;
    height: 40px;
}

.avatar img {
    width: 250px;
    height: 400px;
    object-fit: contain;
}


.player_name {
    width: 286px;
    height: 40px;
    margin-bottom: 25px;
    font-size: 40px;
    letter-spacing: 1.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dates {
    width: 286px;
    height: 106px;
    display: flex;
    justify-content: left;
}

.left_dates {
    width: 90px;
    height: 105px;
    display: flex;
    margin: 0px 74px 0px 12px;
}

.right_dates {
    width: 90px;
    height: 105px;
    display: flex;
}

.dates_number {
    width: 50px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.dates_text {
    width: 40px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.dates_font {
    width: 40px;
    height: 25px;
    font-size: 25px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 10px;
}

.pac,.sho,.pas,.dri,.def,.phy {
    width: 30px;
    height: 27px;
    font-size: 27px;
    font-weight: 500;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 8px;
}























.characters-list {
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}

.character-card {
    border: 2px solid var(--orange);
    padding: 10px;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.character-photo {
    width: 100%;
    height: 150px;
    border: 2px solid var(--orange);
    margin: 0 auto;
}

.character-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}